body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#field {
    margin-bottom: 10px;
}

/* .cities-container {
    width: 90%;
    margin: 0 auto;
} */

.cities-container p {
    text-align: center;
}